@import "./styles/common";

.App {
  font-family: 'Roboto', 'Helvetica', 'Verdana', sans-serif;
  text-align: center;

  &-header {
    background-color: darkslategrey;
    color: whitesmoke;
    padding: 20px;

    h1 {
      text-transform: uppercase;
    }
  }

  &-footer {

  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
